@(products: List[models.Product])

@main("Materia!") {
  <h1>Materia!</h1>
  <h2>在庫一覧</h2>
  
  <a href="/arrival">入荷登録</a>
  <a href="/shipping">出荷登録</a>
  <table class="productListing">
    <tbody>
      <tr>
        <td>*</td>
        <td>商品名</td>
        <td>値段</td>
        <td>在庫数</td>
        <td>場所</td>
        <td>最終更新日時</td>
      </tr>
      @for(product <- products) {
      <tr>
        <td>@product.id</td>
        <td>@product.name</td>
        <td>@product.price</td>
        <td>@product.quantity</td>
        <td>@product.location</td>
        <td>@product.updateDate</td>
      </tr>
      }
    </tbody>
  </table>
}
